In [1]:
#Python Sets with Syntax and Examples
#A set in Python holds a sequence of values. It is sequenced but does not support indexing.

#Creating a Python set
TeamA = {'Barath','Vinoth','Manoj','Roshan', 7, 5}
TeamB = {'Gopi','Vinoth','Prakesh','Roshan', 5, 5}

print(TeamA)
print(TeamB)

{'Barath', 5, 7, 'Vinoth', 'Roshan', 'Manoj'}
{'Prakesh', 5, 'Vinoth', 'Roshan', 'Gopi'}

In [2]:
#Mutability, A set is mutable

TeamA = {'Barath','Vinoth','Manoj','Roshan', 7, 5,1,2,3}
TeamB = {'Gopi','Vinoth','Prakesh','Roshan', 5, 5,1,2}
print(TeamA)
print(TeamB)

#But may not contain mutable items like a list, set, or even a dictionary.
            #Error 
#TeamA = {'Barath',5, [1,2,3]}
#TeamB = {'Gopi','Prakesh', {1,2,3}}

{1, 2, 3, 'Barath', 5, 7, 'Vinoth', 'Roshan', 'Manoj'}
{1, 'Prakesh', 2, 5, 'Vinoth', 'Roshan', 'Gopi'}

In [3]:
#Create a set with the set() function.
abc = set()
ab = {}
print(type(abc))
print(type(ab))

#set() function may also take one argument, like a list.
abc = set([1, 2, 3])
print(abc)

<class 'set'>
<class 'dict'>
{1, 2, 3}

In [4]:
#Accessing a Set in Python

In [5]:
TeamA

{1, 2, 3, 5, 7, 'Barath', 'Manoj', 'Roshan', 'Vinoth'}

In [6]:
TeamB

{1, 2, 5, 'Gopi', 'Prakesh', 'Roshan', 'Vinoth'}

In [7]:
#Deleting a Set in Python
#discard() remove() pop()
#Difference-If you try deleting an item that doesnâ€™t exist in the set, discard() ignores it, but remove() raises a KeyError.

numbers={3,2,1,4,6,5,7,9,8}

In [8]:
numbers.discard(10)
numbers.remove(5)

In [9]:
numbers.pop()

1

In [10]:
numbers

{2, 3, 4, 6, 7, 8, 9}

In [11]:
#clear()
numbers.clear()
numbers

set()

In [12]:
#Updating a Set
#add() update()
numbers.add(5)
numbers.add(4)
numbers.update([7,8],{1,2,9})
numbers

{1, 2, 4, 5, 7, 8, 9}

In [13]:
#Functions on Sets
#len() max() min() sum() sorted()

days={'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'}
days

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [14]:
len(days)

7

In [15]:
max(3,1,2)
max({3,1,2})
#max({1,2,'three','Three'})   Error

3

In [16]:
min(days)  #lowest & highest ASCII

'Friday'

In [17]:
sum({1,2,3})

6

In [18]:
#Methods on sets
#union() intersection() difference() symmetric_difference()

In [19]:
#union() 
set1,set2,set3={1,2,3},{3,4,5},{5,6,7}
set1.union(set2,set3)

{1, 2, 3, 4, 5, 6, 7}

In [20]:
#intersection()
set2.intersection(set1)

{3}

In [21]:
set2.intersection(set1,set3)

set()

In [22]:
#difference()
set1.difference(set2)
set1.difference(set2,set3)

{1, 2}

In [23]:
#symmetric_difference()
set1.symmetric_difference(set2)

{1, 2, 4, 5}

In [24]:
#Directory

In [25]:
dictionary={'PB':'Peanut Butter','PJ':'Pajamas'}
type(dictionary)

dict

In [26]:
mydict={x*x:x for x in range(8)}
mydict

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7}

In [27]:
dict3={1:'carrots','two':[1,2,3]}
dict3

{1: 'carrots', 'two': [1, 2, 3]}

In [28]:
#One key more than once
mydict2={1:2,1:3,1:4,2:4}
mydict2

{1: 4, 2: 4}

In [29]:
#Empty dict and adding element
animals={}
type(animals)

dict

In [30]:
animals[1]='dog'
animals[2]='cat'
animals[3]='lion'
animals

{1: 'dog', 2: 'cat', 3: 'lion'}

In [31]:
#Sports seletion process

In [32]:
import pandas as pd
import matplotlib as plt
#seletion 1 

Hockey = set(['Manoj', 'Balaji', 'Barath', 'Vinoth', 'Gopi', 'Roshan'])
Football = set(['Mani','Barath','Manoj','Vinoth','Kumar','Roshni','Kishore'])
Cricket = set(['Prakesh','Karthick','Mani','Vinoth','Kumar','Roshni'])
                
Result1={'Hockey count':Hockey,'Football count':Football,'Cricket count':Cricket}

In [35]:
#seletion 2

Hockey1 = set(['Manoj Kumar', 'Kishore', 'Barath', 'Vinoth kumar', 'Gopi', 'Roshni'])
Football1 = set(['Mani','Barath','Prakesh','Vinoth Kumar','Roshan','Kishore'])
Cricket1 = set(['Mani','Karthick','Mani','Vinoth','Kumar','Kishore'])
                
Result1={'Hockey count':Hockey1,'Football count':Football1,'Cricket count':Cricket1}